html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #9a4376, #c44577);
}
.container-form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

    border-radius: 10px;
    background-color: #8ff990;
    font-family: sans-serif;
}

.spacser{
    min-width: 24px;
    max-width: 24px;
}

label{
    margin-bottom: 6px;
}

input, select{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

form {
    padding: 10px;
    background-color: #76b1f6;
}

.container-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  
}

.first-name, .last-name, .email, .phone, .subject {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.birthday{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.gender{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-container-gender{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding: 10px 10px 10px 0;
}


