html{
    margin: 0;
    width: 100%;
    height: 100%;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #9a4376, #c44577);
    padding: 40px;
}
.container-form{
    width: 100%;
    max-width: 500px;
    height: fit-content;
    padding: 70px 60px 50px 60px;

    border-radius: 10px;
    background-color: #ffffff;
    font-family: sans-serif;
    transition: min-width 0.3s ease, padding 0.3s ease;
}

#register{
   font-size: 40px;
    color: #333;
    transition: font-size 0.3s ease;
}

.spacser{
    width: 100%;
    min-width: 6px;
    max-width: 24px;
}

label{
    margin-bottom: 6px;
    font-weight: 550;
    font-size: 18px;
}

input, select{
    padding: 10px 16px 10px 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #cbcbcb;
    background-color: #fafafa;
    font-size: 14px;

    transition: padding 0.3s ease, widht 0.3s ease, border-radius 0.3s ease;
}

form {
    padding: 10px;

}

.container-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  
}

.first-name, .last-name, .email, .phone, .subject {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.birthday{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.gender{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.row-container-gender{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 10px 10px 10px 0;
   transition: padding 0.3s ease;
}

.submit-button {
    width: 100%;
    max-width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color:#5a73d0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  

.submit-button:hover {
    transform: scale(1.05); /* เพิ่มขนาดเล็กน้อยเมื่อ hover */
    background-color: #3c5cd0;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.submit-button:active {
    transform: scale(0.95); /* ลดขนาดเมื่อกดปุ่มเพื่อให้ดูเด้ง */
    background-color: #354ab8;
}

.gender-radio {
    cursor: pointer; 
    margin-right: 6px;
    margin-left: 0px; 
    border-radius: 100%;
    appearance: auto;
    transition: width 0.3s ease, height 0.3s ease;
   
}
  
.gender-radio:checked {
    background-color: #4CAF50; /* สีพื้นหลังเมื่อเลือก */
}

.box-bnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.label{
    transition: font-size 0.3s ease;
}

.custom-date-field {
    font-size: 12px; /* ปรับขนาดตัวหนังสือของฟิลด์วันที่ */
    font-weight: 400;
    color: #6e6e6e; ;
    padding: 12px; /* ปรับ padding เพื่อให้ฟิลด์ดูพอดี */
    transition: font-size 0.3s ease, padding 0.3s ease ,color 0.3s ease, font-weight 0.3s ease;
}

.gender-label{
    transition: font-size 0.3s ease, color 0.3s ease , width 0.3s ease;
}


@media (max-width:670px) {
    .container-form{
        min-width: 80px;
        max-width: 500px;
        padding:10px;
    }
}

@media (max-width: 541px) {

    .container-form{
        min-width: 330px;
        padding:10px;
    }

    #register{
        font-size: 18px;
    }

    label{
        font-size: 14px;
    }
    
    input, select{
        padding:5px;
        width: 95%;
        border-radius: 5px;
    }
    
    .custom-date-field {
        font-size: 12px; /* ปรับขนาดตัวหนังสือของฟิลด์วันที่ */
        font-weight: 400;
        color: #6e6e6e; ;
        padding: 5px; /* ปรับ padding เพื่อให้ฟิลด์ดูพอดี */
    }

    .row-container-gender{
        padding: 6px 0px 10px 0px;
    }

    .gender-label{
        width: 100%;
        font-size: 14px; /* ปรับขนาดตัวหนังสือของ label ของเพศ */
        color: #414141;
    }

    .gender-radio {
        width: 12px; /* ขนาดความกว้างของปุ่ม radio */
        height:12px; /* ขนาดความสูงของปุ่ม radio */
 
    }
    
 
}
 
